body {
  padding: 0;
  margin: 0;
}

#coverpage {
  min-height: 100vh;
  /* width: 100vw; */
  background: linear-gradient(#007379, #213977 20%, #212529 70%);
}

.pv-primary {
  background-color: rgb(34, 133, 214);
}
